name: IBM MQ C++ CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    # This image contains the full MQ installation (binaries, headers, and libs)
    container: 
      image: icr.io/ibm-messaging/mq:9.4.1.0-r1
      options: --user root

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Fix Pathing and Environment
        run: |
          # IBM MQ container puts headers here
          ln -s /opt/mqm/inc /usr/local/include/ibm-mq
          # Accept the license for the tools
          /opt/mqm/bin/mqlicense.sh -accept

      - name: Compile Producer and Consumer
        run: |
          g++ -I/opt/mqm/inc main.cpp -L/opt/mqm/lib64 -lmqm_r -o ibmMQ
          g++ -I/opt/mqm/inc get.cpp -L/opt/mqm/lib64 -lmqm_r -o mq_get

      - name: Setup and Run Functional Test
        run: |
          export PATH=$PATH:/opt/mqm/bin
          export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/opt/mqm/lib64
          
          # 1. Create and Start the Queue Manager
          crtmqm QM_CI
          strmqm QM_CI
          
          # 2. Configure the Queue
          echo "DEFINE QLOCAL('TEST.QUEUE') REPLACE" | runmqsc QM_CI
          
          # 3. Give permissions (since the container runs as root/mqm, this is easier)
          # We check the connection and put/get
          ./ibmMQ
          RESULT=$(./mq_get)
          echo "$RESULT"
          
          if [[ "$RESULT" == *"Message Received"* ]]; then
            echo "CI Test Passed!"
          else
            echo "CI Test Failed!"
            exit 1
          fi
